.Results{
    background: #333;
    text-align: start;
    .Total{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-weight: bolder;
        font-size: 1.5em;
    }
    h1{
        font-size: 2em;
        //color: coral;
    }
}