.Results{
    background: #0f0f0f;
    text-align: start;

    .budget101{
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.2em;
        }
    }


    .Total{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        font-weight: bolder;
        font-size: 1.5em;
    }
    h1{
        font-size: 2em;
        //color: coral;
    }
}